extends layout

block content
  div(style='margin:100px 300px;')
    h1= title
    p Welcome to #{title}
          form(method='POST' action='/kill')
            div.form-group
              label(for='name') Kill Command:
              input#name.form-control(type='text', placeholder='Command' name='name')
            button.btn.btn-primary(type='submit' style='width:250px;font-size:50px;margin:10px 10px;') Kill Site
